<a href="https://colab.research.google.com/github/BiondiConsulting/Cola-Test/blob/master/Big_Data_with_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
# if an error occure here, visit this link to find the latest version of spark and replace it here and on the cell above:
# https://downloads.apache.org/spark/
# !tar is un unziping command

In [0]:
!pip install -q findspark

In [0]:
import os
os.environ['JAVA_HOME'] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
# Simple Leaner Regression model for testing the installation

In [0]:
df = pd.read_html("https://github.com/selva86/datasets/blob/master/BostonHousing.csv")

In [28]:
df

[     Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio       b  lstat  medv
 0           NaN  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
 1           NaN  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
 2           NaN  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
 3           NaN  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
 4           NaN  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
 ..          ...      ...   ...    ...   ...  ...  ...      ...     ...    ...   ...
 501         NaN  0.06263   0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
 502         NaN  0.04527   0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
 503         NaN  0.06076   0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
 504         NaN  0.10959   0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
 505         NaN  0.04741   0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

 [506 rows x 15 columns]]

In [31]:
ls

sample_data/  spark-2.4.5-bin-hadoop2.7/  spark-2.4.5-bin-hadoop2.7.tgz

In [0]:
from google.colab import files
files.upload()

In [33]:
ls

BostonHousing.csv  spark-2.4.5-bin-hadoop2.7/
sample_data/       spark-2.4.5-bin-hadoop2.7.tgz

In [35]:
ls

BostonHousing.csv  spark-2.4.5-bin-hadoop2.7/
sample_data/       spark-2.4.5-bin-hadoop2.7.tgz

In [0]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

dataset = spark.read.csv("BostonHousing.csv", inferSchema=True, header=True)

In [42]:
dataset.printSchema()

root
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- b: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)